<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Choisissez un créneau</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Fermer</button>
    </div>
  </ion-header-bar>
  <ion-content>
      <div class="row responsive-sm">
        <div class="col">   
            <button class="button button-balanced">15 min</button>
        </div>
        <div class="col">
           <button class="button button-balanced">30 min</button>
        </div>
        <div class="col">
           <button class="button button-balanced">45 min</button>
        </div>
        <div class="col">
           <button class="button button-balanced">1 heure</button>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
